<div class="container">
    <div class="text-center">
        <br>
        <br>
        <h2>Teocalli</h2>
        <h3> ¿Que uso tiene esta aplicación?</h3>
        <h5> Descripcion de app</h5>
        <h5>...</h5>
        <div class="row col">
            <p>Para usar esta aplicación solo tienes que registrarte, tendrás que validar tu correo además de que puedes
                usarla desde tu móvil Roomies es el administrador para aquellos que tienen un lugar que rentar o en este
                caso arrendarlo a quienes cumplan con lo requerido.</p>
        </div>
        <img src="https://cdn.dribbble.com/users/519645/screenshots/10609629/media/cdf430c652739094ec0e1eccbba63876.gif"
            class="rounded" alt="">
        <br>
        <br>
    </div>
</div>