<div *ngIf="!loader">
    <div class="d-flex flex-row justify-content-center">
        <img class="spinneradmin" src="https://herpasa.com/img/throbber.gif" alt="">
    </div>
</div>


<div *ngIf="loader" class="container">
    <br>
    <br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h2>Administra tu cuenta de arrendador</h2>
        <h3>Tienes un menu con opciones para hacerlo</h3>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i aria-hidden="true" class="far fa-times-circle fa-2x"></i>
        </button>


    </div>
    <div class="text-center">
        <h2>Panel admin</h2>
    </div>
    <div class="row cards-contend">
        <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../profile">
                <div class="card card-1">
                    <h3>Mi perfil</h3>
                    <p>Ver mis datos y informacion de usuario</p>
                </div>
            </a>
        </div>
        <!-- <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../peticiones-arrendamientos">
                <div class="card card-2">
                    <h3>Peticiones</h3>
                    <p>Ver las peticiones para un arrendamiento</p>
                </div>
            </a>

        </div> -->
        <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../lista-arrendados">
                <div class="card card-3">
                    <h3>Arrendados</h3>
                    <p>Ver la lista de los usuaios arrendados</p>
                </div>
            </a>

        </div>
        <!-- <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../gestion-reportes">
                <div class="card card-4">
                    <h3>Reportes</h3>
                    <p>Ver los reportes acerca lo los inmuebles</p>
                </div>
            </a>

        </div> -->
        <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../alojamientos">
                <div class="card card-5">
                    <h3>Alojamientos</h3>
                    <p>Ver el estado de los alojamentos y editar </p>
                </div>
            </a>

        </div>
        <!-- <div class="col-md-4">
            <a class="text-decoration-none" routerLink="../gestion-arrendados">
                <div class="card card-6">
                    <h3>Gestion</h3>
                    <p>Ver la informacion de los arrendados</p>
                </div>
            </a>

        </div> -->
    </div>
</div>