<div *ngIf="!loader">
  <div class="d-flex flex-row justify-content-center">
      <img class="spinneradmin" src="https://herpasa.com/img/throbber.gif" alt="">
  </div>
</div> 

<div class="container">
  <div>
    <br>
        <br>
    <div *ngIf="loader" class="row">
      <div class="col-sm-3">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button class="navbar-toggler-icon" type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <img class="imgbtn" src="https://image.flaticon.com/icons/png/512/40/40105.png" alt="">
              </button>
              <span class="visible-xs navbar-brand">Admin</span>
            </div> 
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a routerLink="../estadisticas">Ver Estadísticas</a></li>
                <li><a routerLink="../peticiones-arrendamientos">Peticiones de arrendamiento</a></li>
                <li><a routerLink="../gestion-arrendados">Gestión de arrendados</a></li>
                <li><a routerLink="../gestion-reportes">Gestión de reportes</a></li>
                <li><a routerLink="../lista-arrendados">Listado de arrendados</a></li>
                <li><a routerLink="../profile">Ver perfil</a></li>
                <li><a routerLink="../alojamientos">Mis alojamientos</a></li>
              </ul>
            </div>
            <br>
            <button class="btn btn-success return-menu" routerLink="../menu">Volver al menu</button>
            <button class="btn btn-danger return-menu" routerLink="/" (click)="borrarS()"><i
                class="fas fa-sign-out-alt"></i>Cerrar
              session</button>
            <!--/.nav-collapse peticiones por alojamiento-->
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <br>
        <div class="row d-flex justify-content-between mb-2">
          <h2 class="fs-2 text-start">Alojamientos que administras.</h2>
          <a [routerLink]="['/admin','alojamientos','create']" class="btn btn-success">Agregar alojamiento</a>
        </div>
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                <th scope="col">N°</th>
                <th scope="col">Nombre del alojamiento</th>
                <th scope="col">Precio</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Depatarmento grande</td>
                <td>1.00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Departamento chico</td>
                <td>1.00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Departamento mediano</td>
                <td>1.00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>