<div class="">
    <div class="register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/assets/img/rocket-1.png" alt="" />
                <h3>Bienvenido</h3>
                <p>Solo te tomara 30 segundos</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h1 class="register-heading">Registrate</h1>
               
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="register-form">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="username" placeholder="Correo electrónico" />
                                        <ng-container *ngIf="registerForm.get('username').errors && registerForm.get('username').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('username').hasError('required')">El email es obligatorio.</p>
                                            <p class="text-danger" *ngIf="registerForm.get('username').hasError('email')">El formato de email no es correcto.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="firstName" placeholder="Nombre"/>
                                        <ng-container *ngIf="registerForm.get('firstName').errors && registerForm.get('firstName').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('firstName').hasError('required')">El nombre es obligatorio.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="fatherSurname" placeholder="Apellido paterno"/>
                                        <ng-container *ngIf="registerForm.get('fatherSurname').errors && registerForm.get('fatherSurname').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('fatherSurname').hasError('required')">El apellido paterno es obligatorio.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="motherSurname" placeholder="Apellido materno"/>
                                        <ng-container *ngIf="registerForm.get('motherSurname').errors && registerForm.get('motherSurname').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('motherSurname').hasError('required')">El apellido materno es obligatorio.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="date" class="form-control" formControlName="birthDate" placeholder="01/01/2021" />
                                        <ng-container *ngIf="registerForm.get('birthDate').errors && registerForm.get('birthDate').touched">
                                            <p *ngIf="registerForm.get('birthDate').hasError('required')" class="text-danger">La fecha de nacimiento es obligatoria.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña"/>
                                        <ng-container *ngIf="registerForm.get('password').errors && registerForm.get('password').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('password').hasError('required')">La contraseña es obligatoria.</p>
                                            <p class="text-danger" *ngIf="registerForm.get('password').hasError('passwordFormat')">La contraseña debe ser de mínimo 8 caracteres. Debe contener al menos una letra minúscula, una letra mayúscula, un número y un símbolo</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar Contraseña"/>
                                        <ng-container *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched">
                                            <p class="text-danger" *ngIf="registerForm.get('confirmPassword').hasError('required')">La confirmación de contraseña es obligatoria.</p>
                                            <p class="text-danger" *ngIf="registerForm.get('confirmPassword').hasError('passwordFormat')">La confirmación contraseña debe ser de mínimo 8 caracteres. Debe contener al menos una letra minúscula, una letra mayúscula, un número y un símbolo</p>
                                            <p class="text-danger" *ngIf="registerForm.get('confirmPassword').value != registerForm.get('password').value">La contraseñas son distintas.</p>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" formControlName="gender" value="male" checked>
                                                <span> Hombre </span> 
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" formControlName="gender" value="female">
                                                <span>Mujer </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" formControlName="gender" value="other">
                                                <span>Otro</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                                            placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option class="hidden" selected disabled>Please select your Sequrity Question
                                            </option>
                                            <option>question 1</option>
                                            <option>question 2</option>
                                            <option>question 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                                    </div> -->
                                    <div class="text-center registerbtn">
                                        <button [disabled]="!registerForm.valid" class="btn btn-success btn-lg btn-block">Registrarme</button>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Apply as a Hirer</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Phone *" value="" />
                                </div>
    
    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden" selected disabled>Please select your Sequrity Question
                                        </option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                               >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>