<div class="">
    <div class="register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/assets/img/rocket-1.png" alt="" />
                <h3>Bienvenido</h3>
                <p>Solo te tomara 30 segundos</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h1 class="register-heading">Registrate</h1>
               
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="register-form">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="username" placeholder="Coreo electrónico" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="father_surname" placeholder="Apellido paterno" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="mother_surname" placeholder="Apellido materno" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" (focusout)="passMatch()" formControlName="confirmPassword" placeholder="Confirmar Contraseña" value="" />
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" formControlName="gender" value="male" checked>
                                                <span> Hombre </span> 
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" formControlName="gender" value="female">
                                                <span>Mujer </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                                            placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option class="hidden" selected disabled>Please select your Sequrity Question
                                            </option>
                                            <option>question 1</option>
                                            <option>question 2</option>
                                            <option>question 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                                    </div> -->
                                    <div class="text-center registerbtn">
                                        <button [disabled]="!registerForm.valid" class="btn btn-success btn-lg btn-block">Registrarme</button>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Apply as a Hirer</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Phone *" value="" />
                                </div>
    
    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden" selected disabled>Please select your Sequrity Question
                                        </option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                               >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>